# to generate secret key -> python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=29b2449fdd2af18683dcef09294115408a633d78008c7ef428c8f1d3d2971b33

# Setup postgress on you machine create bloguser and blogdb database
# PostgresSQL: postgresql+psycopg://user:password@loclahost/databasename
DATABASE_URL=postgresql+psycopg://bloguser:postgres@localhost/blogdb

## .env Email Configuration - Create and acount on mailtrap https://mailtrap.io/
# all testing related email will be received on mailtrap

MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=yourusername
MAIL_PASSWORD=yourpassword
MAIL_FROM=noreply@fastapiblog.com
MAIL_USE_TLS=true
FRONTEND_URL=http://localhost:8000
